/* Big tablet to 1200px (width smaller than 1140px) */
@media only screen and (max-width: 1200px){
    section {padding: 40px 0;}
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .logo {
        height: 73px;
        margin-top: 1.1%;
        margin-left: 25px;
    }
    .row {  padding: 0 2%; }
    
    h2 {
        font-size: 160%;
        margin-top: -2%;
    }
    
    .long-copy {
        font-size: 85%;
        line-height: 165%;
    }
    
    
    .section-get-started .btn-ghost {
        margin-top: -3%;
    }
    
    .section-get-started h2 {
        font-size: 100%;
    }
    
    .box p {
        font-size: 85%;
    }
    
    .section-partners p {
        word-spacing: 1px;
        letter-spacing: 2px;
        font-size: 85%;
    }
    
    .visa-visa-img {
        height: 50px;
        margin-left: 30%;
    }
    
    .cardinal-cardinal-img {
        display: inline-block;
        margin-left: 38%;
        height: 50px;
    }
    
    .power-of-cardinal-photo img {
        height: 250px;
        margin-left: 20%;
        padding-bottom: 3%
    }
    
    .section-partners {
        margin-bottom: -50px;
    }
    
    .card-payment-img {
        height: 400px;
        width: 600px;
        padding-right: 55px;
    }


    .partner-photo img {
        max-width: 100%;
        height: 200px;
    }

    .AE {
        margin-left: 2%;
    }
    
    .partners-showcase li {
        padding: 0 21px;
    }
}