/* Big tablet to 1200px (width smaller than 1140px) */
@media only screen and (max-width: 1200px){
    section {padding: 40px 0;}
    body { font-size: 18px; }
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .logo {
        height: 73px;
        margin-top: 1.1%;
        margin-left: 25px;
    }
    .row {  padding: 0 2%; }
    
    h2 {
        font-size: 160%;
        margin-top: -2%;
    }
    
    .long-copy {
        font-size: 85%;
        line-height: 165%;
    }
    
    .section-get-started h2 {
        font-size: 100%;
    }
    
    .box p {
        font-size: 85%;
    }
    
    .section-partners p {
        word-spacing: 1px;
        letter-spacing: 2px;
        font-size: 85%;
    }
    
    .visa-visa-img {
        height: 40px;
        margin-left: 30%;
    }
    
    .cardinal-cardinal-img {
        display: inline-block;
        margin-left: 38%;
        height: 40px;
    }
    
    .power-of-cardinal-photo img {
        height: 250px;
        margin-left: 20%;
        padding-bottom: 3%
    }
    
    .section-partners {
        margin-bottom: -50px;
    }
    
    .happy-shopper-box {
        max-height: 550px;
        max-width: 440px;
    }

    
}


@media only screen and (max-width: 1023px) {
    section { padding: 30px 0}
    
    .section-get-started { height: 153px; }
    .card-payment-box {
        height: 100%;
    }
    .info-box { height: 235px; }
    .happy-shopper-box {
        max-height: 450px;
        max-width: 340px;
    }
    
    .partner-photo {
        width: 150px;
        height: 100px;
        padding: 1px;
    }
    
    .partner-photo img {
        transform: scale(0.8);
    }
    
     .partners-showcase li {
        height: 140px
    }
}

@media only screen and (max-width: 767px) {
    .customers h2:after {
        margin-top: 25px;
        margin-bottom: 60px;
    }
    
.card-payment-box {
    width: 150%;
    height: 110%;
    overflow: hidden;
    position: absolute;
    left: 100%;
    bottom: 1%;
    padding-right: 35px;
}

.card-payment-img {
    height: 100%;
    width: 100%;
    background-position: cover;
    background-attachment: fixed;
}
    
    .why-cardinal-paragraph {
        position: relative;
    }
}
