/*SCREEN WIDTH: 1200px */
@media only screen and (max-width: 1200px){
    /* GENERAL */
    section { padding: 40px 0; }
    body { font-size: 18px; }
    .row { padding: 0 2%; }
    .box p { font-size: 85%; }
    .long-copy {
        font-size: 85%;
        line-height: 165%;
    }
    
    h2 {
        font-size: 160%;
        margin-top: -2%;
    }
    
    /* HEADING */
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    /* NAVBAR */
    .logo {
        height: 73px;
        margin-top: 1.1%;
        margin-left: 25px;
    }
    
    /* GET STARTED */
    .section-get-started h2 {
        font-size: 100%;
    }
    
    /* PARTNERS */
    .section-partners { margin-bottom: -50px; }
    .section-partners p {
        word-spacing: 1px;
        letter-spacing: 2px;
        font-size: 85%;
    }
    
    .visa-visa-img {
        height: 40px;
        margin-left: 30%;
    }
    
    .cardinal-cardinal-img {
        display: inline-block;
        margin-left: 38%;
        height: 40px;
    }
    
    .happy-shopper-box {
        max-height: 550px;
        max-width: 440px;
    }
}

/* SCREEN WIDTH: 1023px */
@media only screen and (max-width: 1023px) {
    /* GENERAL */
    section { padding: 30px 0}
    
    /* GET STARTED */
    .section-get-started { 
        height: 153px;
        margin: 0px;
    }
    
    .section-get-started h2 {
        font-size: 100%;
        margin: auto;
        width: 90%;
    }
    
    /* PARTNERS */
    .card-payment-box { height: 100%; }
    .partner-photo img { -webkit-transform: scale(0.8); transform: scale(0.8); }
    .partners-showcase li { height: 140px; }
    .happy-shopper-box {
        max-height: 450px;
        max-width: 340px;
    }
    
    .partner-photo {
        width: 150px;
        height: 100px;
        padding: 1px;
    }
    
    /* AUTHENTICATION */
    .info-box { height: 235px; }
    
    
    /* NAVIGATION */
    .main-nav-float {
        margin-right: 60px;
        margin-top: 15px;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 25px;
    }
}

@media only screen and (max-width: 900px) {
    .main-nav-float { display: none; }
    .mobile-nav-icon { display: inline-block; }
    
    /* NAVIGATION */
    .main-nav-float {
        background-color: #fff;
        width: 100vw;
        margin:0;
        margin-top: -14px;
    }

    .main-nav li {
        font-size: 102%;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

/* SCREEN WIDTH: 767px */
@media only screen and (max-width: 767px) {

    /* GENERAL */
    section { padding: 30px 0; }
    .col {width: 100%; }
    .row,
    .hero-text-box { padding: 0 4%; }    

    .long-copy {
        font-size: 90%;
        margin: 0px 10px;
        line-height: 27px;
    }
    
    .main-nav li {
        display: inherit;
    }
    
    /* AUTHENTICATION */
    .info-box:first-child { margin-top: 30px; }
    .partners-box { margin-bottom: 10px; }
    
    .info-box p {
        font-size: 90%;
        padding-left: 0px;
        width: 100%;
    }
    .info-box:first-child { 
        margin-top: 30px; 
        margin-left: 35px;
    }
    .info-box {
        margin: 10px;
        height: 200px;
        width: 90%;
        margin-left: 35px;
    }
    
    .info-row {
        margin: 0 auto;
        padding: 0;
    }
    
    .products-text {
        width: 100%;
        margin: 10px;
    }
    
    /* PARTNERS */
    .visa-visa-img {
        height: 40px;
        margin-left: 33vw;
    }
    
    .cardinal-cardinal-img {
        display: inline-block;
        margin-left: 40vw;
        height: 40px;
    }
    

    /* CUSTOMERS */
    .partner-photo img { -webkit-transform: scale(0.7); transform: scale(0.7); }
    .partners-showcase li { height: 135px; }
    .partner-photo {
        width: 120px;
        height: 140px;
    }
    .customers h2:after {
        margin-top: 25px;
        margin-bottom: 60px;
    }
    
    /* ABOUT */
    .happy-shopper { display: none; }
    .card-payment-img { display: none; }
    .why-cardinal-paragraph { position: relative; }
    .about-us-paragraph:after { margin-bottom: 30px; }
    .section-about h3 {
        text-align: center;
        margin: 10px;
    }
    
    
    

    /* GET STARTED */
    .section-get-started .btn-ghost { margin-top: -7px; }
    .section-get-started h2 {
        font-size: 90%;
        width: 95%;
    }
    
    
    /* FORM */
    .contact-form { width: 80%; }
}
    
/* SCREEN WIDTH: 480px */
@media only screen and (max-width: 480px) {
    /* GENERAL */
    section { padding: 25px 0; }
    
    /* NAVBAR */
    .logo {
        height: 75px;
        margin-top: 2%;
        margin-left: 15px;
    }
    /* HEADING */
    .hero-text-box {
        width: 100%;
        margin-top: 90px;
        font-size: 90%;
        padding: 0 2%;
    }
    
    /* FORM */
    .contact-form { width: 100%; }
    
    .contact-form .row {
        padding-bottom: 5px;
    }
    .submit-btn {
        text-align: center;
    }
    
    /* GET STARTED */
    .section-get-started h2 {
        font-size: 85%;
        width: 90%;
    }

    
    
    /* AUTHENTICATION */
    .info-box:first-child { 
        margin-top: 30px; 
        margin-left: 25px;
    }
    .partners-box { margin-bottom: 10px; }
    
    .info-box p {
        font-size: 90%;
        padding-left: 0px;
        width: 100%;
    }
    
    .info-box {
        margin: 10px;
        height: 200px;
        width: 90%;
        margin-left: 25px;
    }
    
    .info-row {
        margin: 0 auto;
        padding: 0;
    }
    
    .products-text {
        width: 100%;
        margin: 10px;
    }
    
    /* PARTNERS */
    .visa-visa-img {
        height: 40px;
        margin-left: 30vw;
    }
    
    .cardinal-cardinal-img {
        display: inline-block;
        margin-left: 38vw;
        height: 40px;
    }
    
     /* CUSTOMERS */
    .partner-photo img { -webkit-transform: scale(0.8); transform: scale(0.8); }
    .partners-showcase li { 
        height: 100px; 
        margin-left: -3px;;
    }
    .partner-photo {
        width: 100px;
        height: 95px;
    }
}